<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJs Basic</title>
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="https://goeco.link/GnDrD" type="image/x-icon">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create/user">News</a>
        <a href="/upload">Upload file</a>
    </div>
    <div>
        <div>
            <table id="myTable">
                <thead>
                    <tr class="header">
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < dataUser.length; i++) { %>
                        <tr>
                            <td>
                                <%= dataUser[i].id %>
                            </td>
                            <td>
                                <%= dataUser[i].firstName %>
                            </td>
                            <td>
                                <%= dataUser[i].lastName %>
                            </td>
                            <td> <a href="/detail/user/<%= dataUser[i].id %>">Detail</a>
                            </td>
                            <td>
                                <form action="/edit/user/<%= dataUser[i].id %>" method="get">
                                    <button type="submit">Edit</button>
                                </form>
                            </td>
                            <td>
                                <form action="/delete/user" method="post">
                                    <input type="hidden" name="id" value="<%= dataUser[i].id %>" />
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>

        
</body>

</html>